@using PersonalWebSite.Models.Classes
@model List<MainScreen>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        <th>Id</th>
        <th>İsim</th>
        <th>Guncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/Admin/MainScreenBring/@item.Id" class="btn btn-primary">Guncelle</a></td>
        </tr>
    }
</table>
