@using PersonalWebSite.Models.Classes
@model List<MainScreen>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/UserPanel/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <div class="center">
        <div class="avatar">
            <img src="~/UserPanel/img/ProfilFoto.jpeg">
        </div>
        <div class="content">
            @foreach (var item in Model)
            {
                <h1>@item.Name</h1>
                <h2>@item.JobTitle</h2>
                <p>@item.Explanation</p>
                <h3>@item.Contact</h3>
            }
        </div>
        <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="far fa-envelope"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>
    </div>
</body>
</html>